autopep8
gunicorn
plotly
pymysql
sqlalchemy
click
collections2
datetime
python-jose[cryptography]
kaleido
more-itertools
mysql-connector-python
pandas
passlib
pip
scipy
seaborn
numpy
Pillow
fastapi
uvicorn
starlette
python-dotenv
passlib[bcrypt]
python-multipart
pylint
types-requests
